html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;

  grid-template-areas:
    "c1 c2"
    "c3 c4";

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 3fr;
}

.celula {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

.c1 { grid-area: c1; }
.c2 { grid-area: c2; }
.c3 { grid-area: c3; }
.c4 { grid-area: c4; }
    

.c1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000000;
}

.logo-container {
  width: 180px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-container img {
  max-width: 100%;
  max-height: 90%;
}


.c2 {
  position: relative;
  overflow: hidden;
  background-color: #808080;
}

.c2 .video-bg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}



.c3 {
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu button {
  padding: 12px;
  border: none;
  background-color: #222629;
  color: white;
  cursor: pointer;
}

.menu button:hover {
  background-color: #444;
}

.c4 {
  padding: 0;
}

.c4 iframe {
  width: 100%;
  height: 100%;
}

.form-contato {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.form-contato input,
.form-contato textarea {
  padding: 8px;
}

.form-contato button {
  padding: 10px;
  cursor: pointer;
}